.article {
    display: grid;
    grid-template-columns: 1fr;

    gap: 2rem;
    grid-template-areas:
                "image"
                "content";

    @media (min-width: 50em) {
        grid-template-columns: min(400px, 30vw) 1fr;
        grid-template-areas:
                "image content";
    }

    background-color: var(--article-background-color);
    border-radius: 4px;
    overflow: clip;
}

.title {
    font-size: var(--article-title);
    line-height: 1.5em;
    font-weight: 900;
    padding-block-end: 1em;

}

.content {
    grid-area: content;
    padding-inline: 2rem;
    padding-block: 0 1rem;
    max-width: 75ch;

    display: flex;
    flex-direction: column;

    @media (min-width: 50em) {
        padding-inline-end: 2rem;
        padding-inline-start: 0;
        padding-block: 1rem;
    }
}

.description {
    flex-grow: 2;
    padding-block-end: 1.5ch;
}

.image {
    grid-area: image;

    img {

        @media (min-width: 50em) {
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }

    }

}
