:root {
    /* Colors */
    --white-100: #f8f9fa;
    --blue-100: #29ccde;

    --grey-200: #ffffff2b;
    --grey-300: #ffffff21;
    --grey-500: #1f2123;

    --black-100: #131415;

    --yellow-100: #fdffa0;

    /* Sizes */
    --size-16px: 16px;
    --size-1080px: 1080px;
    --size-100prs: 100%;

}