@import "reset.css" layer(reset);
@import "variables/primitives.css";
@import "variables/variables.css";
@import "utils.css" layer(utils);
@import "tailwind.css" layer(tailwind);

@layer reset, tailwind, global, utils, ui;

@layer global {
    :root {
        font-family: var(--nanoSanse), sans-serif;
        line-height: 1.5;
        font-weight: 500;
        font-size: var(--base-font-size);

        color-scheme: dark light;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        padding-block-start: var(--nav-height);
    }

    h1 {
        font-size: calc(var(--base-font-size) * 2);
        letter-spacing: 0;
        line-height: calc(var(--base-font-size) * 3.5);
        font-weight: 900;
        padding-block-end: 2rem;
      }

    h2 {
        font-size: calc(var(--base-font-size) * 1.75);
        letter-spacing: 0;
        line-height: calc(var(--base-font-size) * 2.5);
        font-weight: 700;
        padding-block-end: 1.5rem;
    }

    h3 {
        font-size: calc(var(--base-font-size) * 1.5);
        letter-spacing: 0;
        line-height: calc(var(--base-font-size) * 2);
        font-weight: 600;
        padding-block-end: 1.25rem;
    }

    p {
        font-size: calc(var(--base-font-size) * 1.125);
        line-height: 1.5;
        padding-block-end: 1rem;
    }

    img{
        max-width: 100%;
        height: auto;
    }
}