.header {
  position: fixed;
  height: var(--nav-height);
  top: 0;
  width: 100%;
  left: 0;
  overflow: clip;
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;

  background-color: var(--background-color);
  box-shadow: var(--block-border-buttom);
}

.separator {
  height: calc(var(--base-font-size) * 1.625);
  width: 2px;
  background-color: var(--border-color);
  /*margin-inline-start: var(--base-font-size);*/
}

.navbar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: fit-content;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  max-block-size: 100%;
}
